@font-face {
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.eot');
  src: url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.eot?#iefix') format('embedded-opentype'),
       local('Source Code Pro'),
       local('Source-Code-Pro-regular'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.woff2') format('woff2'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.woff') format('woff'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.ttf') format('truetype'),
       url('/fonts/Source-Code-Pro-regular/Source-Code-Pro-regular.svg#SourceCodePro') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Roboto-regular/Roboto-regular.eot');
  src: url('/fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('/fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
       url('/fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
       url('/fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
       url('/fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Roboto-500/Roboto-500.eot');
  src: url('/fonts/Roboto-500/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('/fonts/Roboto-500/Roboto-500.woff2') format('woff2'),
       url('/fonts/Roboto-500/Roboto-500.woff') format('woff'),
       url('/fonts/Roboto-500/Roboto-500.ttf') format('truetype'),
       url('/fonts/Roboto-500/Roboto-500.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Roboto-700/Roboto-700.eot');
  src: url('/fonts/Roboto-700/Roboto-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Bold'),
       local('Roboto-700'),
       url('/fonts/Roboto-700/Roboto-700.woff2') format('woff2'),
       url('/fonts/Roboto-700/Roboto-700.woff') format('woff'),
       url('/fonts/Roboto-700/Roboto-700.ttf') format('truetype'),
       url('/fonts/Roboto-700/Roboto-700.svg#Roboto') format('svg');
}
